@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Young+Serif&display=swap');
body{
    background-color: #B47757;
    font-family: 'Young Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 70px;
}

.reset{
    background-color: black;
    transform: translateY(4px);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Young Serif', serif;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
}

.rgb{
    background: radial-gradient(ellipse, red, green, blue);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Young Serif', serif;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.color{
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Young Serif', serif;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
}